OutSync/Web References/CurrentVersionWebService/currentversion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCurrentVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="installedVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCurrentVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentVersion" />
  </wsdl:message>
  <wsdl:message name="GetCurrentVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="CurrentVersionSoap">
    <wsdl:operation name="GetCurrentVersion">
      <wsdl:input message="tns:GetCurrentVersionSoapIn" />
      <wsdl:output message="tns:GetCurrentVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CurrentVersionSoap" type="tns:CurrentVersionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentVersion">
      <soap:operation soapAction="http://tempuri.org/GetCurrentVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CurrentVersionSoap12" type="tns:CurrentVersionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentVersion">
      <soap12:operation soapAction="http://tempuri.org/GetCurrentVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrentVersion">
    <wsdl:port name="CurrentVersionSoap" binding="tns:CurrentVersionSoap">
      <soap:address location="http://melsam.com/outsync/currentversion.asmx" />
    </wsdl:port>
    <wsdl:port name="CurrentVersionSoap12" binding="tns:CurrentVersionSoap12">
      <soap12:address location="http://melsam.com/outsync/currentversion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>